{
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "globals": {
    "describe": true,
    "it": true,
    "should": true,
    "xit": true
  },
  "rules": {
    "no-empty": "off",
    "no-control-regex": "off"
  },
  "extends": "eslint:recommended"
}
